# **Esercizio Numpy-Pandas-Matplotlib**

Aiuto di internet

L'obiettivo di questo esercizio è generare un set di dati di serie temporali utilizzando NumPy, analizzarli con pandas e visualizzare i risultati usando Matplotlib.

Gli studenti dovranno eseguire le seguenti operazioni:

1. **Generazione dei Dati**: Utilizzare NumPy per generare una serie temporale di 365 giorni di dati, simulando il numero di visitatori giornalieri in un parco. Assumere che il numero medio di visitatori sia 2000 con una deviazione standard di 500. Inoltre, aggiungere un trend crescente nel tempo per simulare l'aumento della popolarità del parco.

In [13]:
import numpy as np

In [14]:
visitatori_invernali = np.random.normal(1800,300,(1,90))

In [15]:
visitatori_primaverili=np.random.normal(2200,300,(1,91))

In [16]:
visitatori_estivi=np.random.normal(2200,300,(1,92))

In [17]:
visitatori_autunnali = np.random.normal(2000,200,(1,92))

In [19]:
visitatori=np.concatenate((visitatori_invernali,visitatori_primaverili, visitatori_estivi,visitatori_autunnali),axis=1)
visitatori = visitatori.astype(int)
visitatori=visitatori.flatten()

In [39]:
visitatori

array([1799, 1721, 1695, 2020, 2240, 1975, 2024, 1748, 1985, 1794, 1765,
       2147, 1831, 1891, 1464, 2214, 2281, 1427, 1838, 1581, 2460, 1690,
       2000, 1471, 1774, 1902, 2114, 1486, 1951, 1924, 1422, 1831, 1877,
       2422, 2364, 1767, 1245, 1747, 2044, 1317, 2074, 1715, 1736, 2053,
       1783, 1757, 1422, 1586, 1913, 2010, 1952, 1795, 1657, 1847, 1648,
       2182, 1521, 1743, 2184, 2014, 1556, 1309, 1403, 1784, 1716, 2030,
       1911, 1640, 1624, 1699, 1486, 1885, 1437, 1511, 1358, 1999, 1728,
       2267, 1806, 2111, 1963, 2061, 1663, 1711, 1836, 1519, 2092, 1971,
       2362, 1741, 1757, 2546, 1897, 2186, 1850, 2303, 1992, 1904, 2173,
       2628, 2147, 2701, 2313, 1960, 2836, 2220, 2346, 1883, 2302, 2534,
       2528, 2189, 2421, 2887, 2138, 2042, 2080, 2652, 2503, 2430, 2444,
       2194, 2365, 1776, 2343, 2283, 2279, 2092, 2067, 2311, 2035, 2231,
       1975, 2343, 2415, 2598, 2060, 1685, 2540, 2291, 2632, 2023, 2186,
       2006, 1980, 2108, 2325, 2313, 2389, 2418, 2475, 1892, 1868, 2223,
       2583, 2414, 2660, 2221, 2356, 1918, 1846, 2092, 2429, 1736, 2291,
       2129, 2284, 2275, 2795, 3030, 2641, 1895, 2031, 2121, 2572, 2569,
       1825, 2074, 2276, 2040, 2030, 2204, 2073, 2212, 2567, 1746, 2359,
       1946, 2773, 1868, 1347, 2512, 2324, 1953, 2738, 1525, 1859, 2267,
       2089, 2093, 2697, 2463, 1751, 1472, 2034, 1794, 2462, 3024, 2288,
       2375, 2562, 2913, 1841, 2355, 1835, 1900, 2275, 1610, 2337, 2231,
       2156, 2311, 2653, 2142, 1950, 2440, 2316, 2257, 1984, 2583, 2402,
       1798, 2521, 2068, 2369, 2005, 2383, 1904, 2411, 1886, 1992, 2186,
       2508, 2550, 2111, 2420, 1705, 2621, 1882, 2781, 2231, 1693, 2330,
       2133, 1930, 2304, 1964, 1984, 2456, 2117, 1805, 2521, 2590, 1927,
       2638, 3048, 2049, 1871, 2237, 2323, 1976, 2692, 2663, 1951, 2006,
       2003, 1983, 1973, 2295, 1844, 1987, 1861, 1801, 2174, 2151, 2091,
       2206, 1769, 2092, 2204, 1971, 1592, 2118, 2134, 1993, 1990, 2289,
       2022, 1564, 1906, 1909, 2265, 2048, 1847, 2182, 2199, 2456, 2019,
       1953, 1945, 1900, 1770, 1952, 2036, 2128, 1813, 2120, 2054, 1948,
       1737, 2081, 2134, 2097, 2136, 2035, 2059, 1867, 2027, 2132, 2172,
       2196, 1894, 1850, 1985, 1821, 2214, 2121, 2237, 1728, 2150, 2083,
       1724, 1706, 1728, 1713, 2089, 2019, 2120, 2019, 1984, 1917, 1802,
       1837, 1859, 1820, 1659, 2105, 1947, 1965, 2052, 2001, 1883, 2061,
       1883, 2030])

2. **Creazione del DataFrame**: Creare un DataFrame pandas con le date come indice e il numero di visitatori come colonna.

In [20]:
import pandas as pd

In [21]:
dati={
    'Data': pd.date_range('2023-01-01', '2023-12-31'),
    'Visitatori': visitatori
}

In [22]:
dataframe=pd.DataFrame(dati)

In [23]:
dataframe

          Data  Visitatori
0   2023-01-01        1925
1   2023-01-02        2434
2   2023-01-03        1631
3   2023-01-04        2229
4   2023-01-05        2291
..         ...         ...
360 2023-12-27        1779
361 2023-12-28        2069
362 2023-12-29        1828
363 2023-12-30        1976
364 2023-12-31        2099

[365 rows x 2 columns]

In [24]:
dataframe['Mese'] = dataframe['Data'].dt.month
df_gennaio = df[df['Mese'] == 1]