# **Esercizio Numpy-Pandas-Matplotlib**

Aiuto di internet

L'obiettivo di questo esercizio è generare un set di dati di serie temporali utilizzando NumPy, analizzarli con pandas e visualizzare i risultati usando Matplotlib.

Gli studenti dovranno eseguire le seguenti operazioni:

1. **Generazione dei Dati**: Utilizzare NumPy per generare una serie temporale di 365 giorni di dati, simulando il numero di visitatori giornalieri in un parco. Assumere che il numero medio di visitatori sia 2000 con una deviazione standard di 500. Inoltre, aggiungere un trend crescente nel tempo per simulare l'aumento della popolarità del parco.

In [2]:
import numpy as np

In [3]:
visitatori_invernali = np.random.normal(1800,300,(1,90))

In [4]:
visitatori_primaverili=np.random.normal(2200,300,(1,91))

In [5]:
visitatori_estivi=np.random.normal(2200,300,(1,92))

In [6]:
visitatori_autunnali = np.random.normal(2000,200,(1,92))

In [7]:
visitatori=np.concatenate((visitatori_invernali,visitatori_primaverili, visitatori_estivi,visitatori_autunnali),axis=1)
visitatori = visitatori.astype(int)
visitatori=visitatori.flatten()

In [8]:
visitatori

array([1659, 2432, 2233, 1718, 2071, 1649, 1516, 1964, 2030, 1228, 1854,
       1965, 1590, 1320, 1449, 1521, 2001, 1712, 2200, 1350, 2302, 1901,
       1504, 1458, 1593, 2104, 1527, 1329, 1681, 1474, 1246, 1840, 2176,
       1993, 1745, 1135, 2046, 1555, 1686, 1878, 1797, 1445, 1959, 1220,
       1694, 1828, 1266, 2009, 1694, 1566, 1545, 1579, 1848, 1874, 1666,
       2007, 1678, 2109, 1959, 1802, 1453, 1972, 1917, 1474, 1997, 2161,
       1838, 1779, 1794, 1681, 2357, 2147, 1862, 1832, 1649, 1601, 1703,
       2533, 1280, 1766, 1782, 2170, 1970, 1916, 1458, 1208, 1738, 1831,
       1542, 1813, 2325, 2057, 2217, 2522, 2266, 2189, 2074, 2641, 1965,
       2244, 2667, 2440, 2059, 2627, 2388, 2241, 2040, 1783, 1654, 2163,
       2519, 1636, 2460, 2015, 2456, 2602, 2381, 2558, 2373, 2238, 2944,
       2009, 2206, 1907, 2431, 2032, 2474, 1689, 1797, 1704, 2072, 2193,
       1959, 1717, 2241, 2302, 1882, 2195, 2317, 1700, 2344, 2870, 1893,
       1634, 2115, 1876, 1793, 2144, 2431, 2013, 2086, 2345, 2810, 1768,
       2095, 2455, 2250, 3108, 2656, 2038, 2301, 2002, 2778, 2296, 2414,
       1912, 2438, 2325, 2155, 1907, 2231, 2420, 2766, 2442, 2140, 2029,
       2520, 2477, 2209, 2806, 1728, 2087, 2461, 2501, 1842, 2052, 2387,
       2523, 2705, 2142, 2158, 2430, 2360, 2644, 1760, 2211, 2257, 2464,
       2061, 2228, 2211, 2225, 2683, 2463, 1956, 2002, 1907, 2442, 1993,
       2347, 2154, 1967, 1898, 2519, 2432, 2432, 2214, 2551, 2136, 1800,
       2120, 2010, 2131, 1604, 2381, 2287, 2136, 2117, 2763, 2292, 1532,
       2501, 2277, 1880, 2311, 1855, 1381, 1941, 2290, 2004, 1893, 1942,
       2078, 2165, 2252, 2460, 1663, 1963, 2326, 1967, 2076, 2710, 2433,
       1902, 2083, 2543, 2147, 2454, 2410, 2502, 2424, 2590, 2134, 2148,
       2149, 1804, 2550, 2206, 1965, 2313, 2052, 2650, 2610, 2177, 1833,
       2569, 2251, 1871, 1890, 1999, 2215, 1843, 2208, 1894, 2039, 1950,
       2027, 2094, 2145, 1852, 2072, 2139, 1922, 2143, 1970, 1924, 2053,
       2064, 2128, 1935, 1961, 2300, 2136, 2070, 2327, 1687, 1834, 2393,
       2145, 2117, 2005, 1560, 2151, 2079, 2246, 1752, 2149, 2168, 2179,
       1875, 1715, 2266, 2011, 1536, 1915, 1872, 1844, 1952, 1761, 1736,
       1925, 1959, 1696, 1822, 2233, 2454, 1679, 2116, 2152, 2138, 1952,
       1959, 1833, 2052, 1630, 2155, 2104, 1820, 2890, 2077, 1961, 2289,
       2283, 1874, 1705, 2081, 1963, 2051, 2113, 1997, 2209, 2017, 1849,
       1898, 2406])

2. **Creazione del DataFrame**: Creare un DataFrame pandas con le date come indice e il numero di visitatori come colonna.

In [9]:
import pandas as pd

In [10]:
dati={
    'Data': pd.date_range('2023-01-01', '2023-12-31'),
    'Visitatori': visitatori
}

In [11]:
dataframe=pd.DataFrame(dati)

In [12]:
dataframe

          Data  Visitatori
0   2023-01-01        1659
1   2023-01-02        2432
2   2023-01-03        2233
3   2023-01-04        1718
4   2023-01-05        2071
..         ...         ...
360 2023-12-27        2209
361 2023-12-28        2017
362 2023-12-29        1849
363 2023-12-30        1898
364 2023-12-31        2406

[365 rows x 2 columns]

3. **Analisi dei Dati**: Calcolare il numero medio di visitatori per mese e la
deviazione standard.

In [13]:
dataframe['Mese'] = dataframe['Data'].dt.month
valori={}
for i in range(1,13):
    dataframe_mese = dataframe[dataframe['Mese'] == i]
    media = dataframe_mese['Visitatori'].mean()
    std = dataframe_mese['Visitatori'].std()
    valori[i] = {'Media': media, 'Deviazione Standard': std}

In [14]:
valori

{1: {'Media': 1728.4193548387098, 'Deviazione Standard': 330.68915657996695},
 2: {'Media': 1742.75, 'Deviazione Standard': 264.29397563235443},
 3: {'Media': 1807.2903225806451, 'Deviazione Standard': 287.99620293195846},
 4: {'Media': 2260.0, 'Deviazione Standard': 279.103243782037},
 5: {'Media': 2095.8064516129034, 'Deviazione Standard': 322.3271029409761},
 6: {'Media': 2327.366666666667, 'Deviazione Standard': 329.1690146868096},
 7: {'Media': 2245.9032258064517, 'Deviazione Standard': 250.6868371546074},
 8: {'Media': 2119.6129032258063, 'Deviazione Standard': 311.1034851855948},
 9: {'Media': 2255.0333333333333, 'Deviazione Standard': 269.078566059513},
 10: {'Media': 2054.0, 'Deviazione Standard': 159.82907536907462},
 11: {'Media': 1955.9, 'Deviazione Standard': 226.05466992102473},
 12: {'Media': 2062.5806451612902, 'Deviazione Standard': 249.5157675970997}}

In [15]:
dataframe = dataframe.drop('Mese', axis=1)