# **Esercizio Numpy-Pandas-Matplotlib**

L'obiettivo di questo esercizio è generare un set di dati di serie temporali utilizzando NumPy, analizzarli con pandas e visualizzare i risultati usando Matplotlib.

1. **Generazione dei Dati**: Utilizzare NumPy per generare una serie temporale di 365 giorni di dati, simulando il numero di visitatori giornalieri in ospedale. Assumere che il numero medio di visitatori sia 1200 con una deviazione standard di 900. Inoltre, aggiungere un trend decrescente nel tempo per simulare l'aumento della popolarità dell'ospedale.

In [7]:
import numpy as np
from scipy.stats import truncnorm

In [30]:
visitatori = truncnorm.rvs((300-1200)/900, (10000-1200)/900, loc=1200, scale=900, size=305, random_state=True)
visitatori=visitatori.astype(int)

In [31]:
visitatori

array([1221, 1849,  300, 1002,  681,  553,  767, 1085, 1183, 1456, 1225,
       1765,  805, 2340,  381, 1731, 1222, 1495,  666,  792, 2067, 2938,
       1023, 1782, 2333, 2414,  535,  414,  732, 2340,  568, 1229, 2825,
       1444, 1781, 1027, 1768, 2175,  355, 1925, 3315, 1919,  959, 2033,
        580, 1280, 2483,  985,  973,  643,  358, 1750,  820,  929, 1363,
        453, 1526,  681, 1557, 1799,  578, 1215, 1787, 1216,  444, 1450,
       1716, 1409, 2710, 1552, 2456,  660,  664, 2087, 1184,  722, 2591,
       1089, 1926, 1863, 2362, 1629, 1927, 1091,  938, 2420, 1242, 2898,
       1716, 1625,  607, 2750, 1284, 1535, 1204,  872, 2456, 1525,  308,
       1615, 1049, 1432, 2374, 1107, 2483, 1628,  348, 2604, 1778, 3756,
        737,  659, 2624, 1792,  487, 1939, 1934, 2564, 1827,  629,  360,
        378,  384,  891, 2267, 1456, 1483, 2201,  629,  956, 1550, 2955,
       1500,  356, 2066,  864, 2086, 1166, 2281, 1917, 1490,  657,  471,
        623,  430,  590,  849, 1831, 1497,  338,  502, 2926, 1514,  803,
        903, 1908,  786, 1541, 2960, 2218,  878, 1368, 1621, 2156,  703,
        356,  497, 1353, 1592, 1516, 1031, 3308, 1538, 1151, 1480, 1912,
       1729,  928,  488, 1132, 1642,  817, 1931,  488,  919, 2079,  782,
       1663, 1428, 2575,  925,  487, 1886, 1984, 2479, 2620,  342,  867,
       1614, 2746, 2755, 1491, 2521, 1667, 1170, 1353, 1588, 1477, 2583,
       2539, 1179, 2880,  740,  634,  654, 1391,  365, 2737, 2150,  345,
        745, 1059,  645, 2093, 1083, 2676, 1542, 2343, 2211, 2467, 1303,
       1470, 2060,  969, 1361, 1577,  347, 1566, 1253, 2087, 1027, 2406,
       1534,  762, 2029, 1604,  455, 1227, 1751, 2538,  301, 3056, 1144,
       3011, 1589, 2156, 1527, 1638,  969, 1552, 1924, 2261, 1938, 1795,
       2284, 1041, 1732, 1285, 1155, 1209, 1191, 1031, 1625, 1246, 3011,
       1748,  793, 1239, 1081, 2057, 2348, 2459, 1714,  939,  903, 2248,
       1434, 2071, 1523, 1881, 1417, 1980, 1516, 1314, 1080,  492, 1147,
        522, 3166,  757, 2101, 2327, 1773, 1517,  712])

2. **Creazione del DataFrame**: Creare un DataFrame pandas con le date come indice e il numero di visitatori come colonna e una collonna casuale della patologia scelta fra 3 (ossa, cuore, testa).

In [13]:
import pandas as pd
import random

In [32]:
date_range = pd.date_range('2023-01-01', '2023-12-31')
date_selezionate = np.random.choice(date_range, size=305, replace=False)
date = np.sort(date_selezionate)

In [33]:
base_patologia=['ossa','cuore','testa']
patologia = random.choices(base_patologia, k=305)

In [34]:
dataset ={
    'Data': date,
    'Visitatori': visitatori,
    'Patologia':patologia
}

In [35]:
df=pd.DataFrame(dataset)

In [36]:
df.head()

        Data  Visitatori Patologia
0 2023-01-01        1221     cuore
1 2023-01-02        1849      ossa
2 2023-01-03         300      ossa
3 2023-01-04        1002      ossa
4 2023-01-05         681      ossa

3. Analisi dei Dati: Calcolare il numero medio di visitatori per mese e la
deviazione standard e quale patologia è più e quale meno trovata.

In [40]:
media_mensile = df.groupby(df['Data'].dt.month)['Visitatori'].mean()
print(media_mensile)

Data
1     1306.480000
2     1502.458333
3     1264.000000
4     1643.181818
5     1477.689655
6     1342.600000
7     1423.851852
8     1543.928571
9     1532.653846
10    1594.444444
11    1555.500000
12    1573.640000
Name: Visitatori, dtype: float64

In [41]:
std_mensile = df.groupby(df['Data'].dt.month)['Visitatori'].std()
print(std_mensile)

Data
1     665.685932
2     826.583065
3     633.922063
4     680.778520
5     896.121010
6     716.618215
7     780.352223
8     760.233050
9     791.223101
10    733.510806
11    518.834731
12    672.988539
Name: Visitatori, dtype: float64

In [42]:
frequenza_patologie = df['Patologia'].value_counts()
print(frequenza_patologie)

Patologia
cuore    105
testa    101
ossa      99
Name: count, dtype: int64